

.quoteWrap{
    width:400px; 
    background:border-box #f2b5e2; 
    padding:20px; 
    border:1px solid purple; 
    border-radius:5px
}
.quote{
    font-size:30px
}
.author{
    font-size:18px;
    font-style:italic; 
    margin-left:20px; 
    padding-top:20px
}






.listResult{
    width:400px; 
    background:border-box #f2b5e2; 
    border:1px solid purple; 
    border-radius:5px;
    min-height:100px;
        padding:10px;
}
.quoteWrapper{
    padding:10px;
    margin:10px
}
.quoteListItem{
    margin:10px 0px
}
.quoteText{
    font-size: 20px;
    font-weight: bold;
    display: block;
}
.quoteAuthor{
    font-size: 14px;
    font-style: italic;
    display: block;
    margin-top: 10px;
}
